border-radius()
  -webkit-border-radius arguments
  -moz-border-radius arguments
  border-radius arguments

body
  font 14px helvetica, arial, sans-serif
  background #cdcdcd
  padding 20px
  h1
    color #2e66f5
    font-size 50px
  p
    margin 15px 0

#header
  h3
    padding 15px 0 0 30px
    font-size 18px
    color lighten(#2e66f5, 10%)
  span.reload-message
    color #f52e2e
    padding-left 8px
  #key
    margin 15px 0 0 20px
    div
      color #ffffff
      float left
      margin 0 5px
      padding 5px
      .count
        float right
        padding 0
    .description
      margin-top -3px
      font-size 15px
      color #333
    .successful_step
      background #197f0e
    .failed_step
      background #f42e2e
    .pending_step
      background #c49600
    .skipped_step
      background #3e79d1
    .unimplemented_step
      background #b92ef4
  input#tagsAC
    height 26px
    width 140px
    font-size 14px

#features, #steps_to_implement, #failed_steps
  clear both
  padding 15px 0 10px 10px
  h2
    font-size 22px
    color #565656

#feature
  float left
  margin 10px
  padding 10px 20px
  border-radius(10px)
  border 1px solid #898989
  background #e4e4e4
  h2
    color #2e66f5
    padding 15px 0
  #background
    h2
      font-size 16px
    #backgroundSteps
      h2
        padding 0
  h2.descriptionLine
    clear both
    font-size 16px
    color #676767
    padding 2px 0
  .info
    margin -5px 0 25px 0
    .tag
      color #2e66f5
      font-size 16px
      float left
      padding-right 8px
    p
      margin 0

  .scenarios
    .scenario
      margin 10px
      padding 10px 20px
      border-radius(10px)
      border 1px solid #cccccc
      background #dfdfdf
      .example
        margin 10px
        padding 10px 20px
        border-radius(10px)
        border 1px solid #bbbbbb
        background #cfcfcf
      h2.scenario_name
        color #333333
        font-size 20px
      h2
        font-size 16px
      .steps
        h2
          padding 0

#help
  width 400px
  display none
  color #fff
  h2
    font-size 20px
  ul
    padding 25px 10px
    li
      padding 3px 0
      font-size 16px

#templates
  display none

#step_template
  margin 10px
  padding 10px 20px
  border-radius(10px)
  border 1px solid #ababab
  background lighten(#b92ef4, 45%)
  h2
    font-size 18px

#failed_step_error_message
  margin 10px
  padding 10px 20px
  border-radius(10px)
  border 1px solid #ababab
  background lighten(#f42e2e, 45%)
  h2
    font-size 18px
  h2.errorHeaderMessage
    font-size 20px
    font-weight bold

#successful_step
  clear both
  h2
    color #197f0e
    font-size 22px

#failed_step
  clear both
  h2
    color #f42e2e
    font-size 22px

#skipped_step
  clear both
  h2
    color #3e79d1
    font-size 22px

#pending_step
  clear both
  h2
    color #c49600
    font-size 22px

#unimplemented_step
  clear both
  h2
    color #b92ef4
    font-size 22px

#failed_steps .message,
#steps_to_implement .message
  img
    float left
    padding 25px
  h2
    border-radius(10px)
    border 1px solid #898989
    background #e4e4e4
    margin 30px
    padding 20px
    float left
    font-size 40px
    font-variant small-caps
    color #343434

.stepTable
  .col
    float left
    margin 3px 0
    padding 4px 8px
    border-left 1px solid black
    border-right 1px solid black

.pystring
  margin 3px 0
  padding 4px 8px

#simplemodal-overlay
  background-color #888

#simplemodal-container
  background-color #333
  border 8px solid #444
  padding 12px

.smart_autocomplete_type_ahead_field
  font-size 14px

ul.smart_autocomplete_container
  margin 8px 0 0 0

ul.smart_autocomplete_container
  li
    font-size 14px
    list-style none
    cursor pointer
    margin 2px 0
    padding 4px
    background-color #E3EBBC

  li.smart_autocomplete_highlight
    background-color #C1CE84
