!!!5
html
  head
    title features
    link(rel='stylesheet', href='/reset.css')
    link(rel='stylesheet', href='/main.css')
    script(src='/jquery-1.5.2.min.js')
    script(src='/underscore-min.js')
    script(src='/doU.js')
    script(src='/jquery.smart_autocomplete.js')
    script(src='/jquery.simplemodal.1.4.1.min.js')
    script(src='/jquery.jkey.js')
    script(src='/socket.io/socket.io.js')
    script(src='/script.js')
  body!= body
